@import url("base.css");
@import url('header.css');
@import url('footer.css');
article{
    display: list-item;
}
input{
    border: solid black 2px;
}
article{
    margin: 1rem 1rem;
    border: solid 1px black;
    padding: 15px;
}

article picture img{
    width:300px;
     height:300px
}