<%- include("./partials/head.ejs")  %> 
<body>
    <%- include("./partials/header.ejs")  %> 
    <main>
        <h2>Welcome to Express Auth</h2>
    </main>
    <%- include("./partials/footer.ejs")  %> 
</body>
</html>