<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
<body>
    <%- include("./partials/header.ejs")  %> 
    <main>
             <h2>Proyecto backend de e-comers con express</h2>
    </main>
    <%- include("./partials/footer.ejs")  %> 
</body>
</html>