<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/create.css">
    </head>
<body>
    <%- include("../partials/header.ejs")  %>
    <main>
        <nav>
            <a href="/productos/" class="boton">volver</a>
        </nav>
        <form action="/productos/guardar" method="post" enctype="multipart/form-data">
            <h1>Crear producto</h1>
            <fieldset>
                <label>Nombre de producto</label>
                <input type="text" name="name" id="name">
            </fieldset>
            <fieldset>
                <label>precio producto</label>
                <input type="text" name="price" id="price">
            </fieldset>
            <fieldset>
                <label>Categoria de producto</label>
                <input type="radio" name="categoria" id="categoria-lol" value="lol">
                <label for="categoria-lol">lol</label>
                <input type="radio" name="categoria" id="categoria-lal" value="lal">
                <label for="categoria-lal">lal</label>
            </fieldset>
            <fieldset>
                <label>Archivos</label>
                <input type="file" name="img" id="img" id="imagen">
                <label for="img" id="imagen">Subir Imagen</label>
            </fieldset>
    
            <button type="submit" class="boton">GUARDAR</button>
        </form>
    </main>
    <%- include("../partials/footer.ejs")  %>
</body>
</html>