<footer id="main-footer">
    <picture>
        <img src="/assets/icon.png" alt="">
    </picture>
    <section>
        <h2>&copy; Created at <%=  new Date(Date.now()).getFullYear() %> </h2>
    </section>
</footer>