<header id="main-header">
    <picture id="branding">
        <img src="/assets/logo.png" alt="brand">
    </picture>
    <nav id="main-nav">
        <a href="/">
            <i class="fa-solid fa-home"></i>
        </a>
        <a href="/users/login">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>
        <a href="/users/register">
            <i class="fa-solid fa-plus"></i>
        </a>
    </nav>
</header>