<header id="main-header">
    <nav id="main-nav">
        <a href="/">
            home
        </a>
        <% if (!user) { %>
            <a href="/users/login">
                login
            </a>
            <a href="/users/register">
                registro
            </a>
            <% } else { %>
                <a href="/users/logout">
                    logout
                </a>
                <a href="/users/profile">
                    perfil
                </a>
        <% } %>
        
        <a href="/productos/nuevo">
            crear productos
        </a>
        <a href="/productos">
            productos
        </a>
    </nav>
</header>